@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@200;300;400;700;800;900&family=Cinzel:wght@600&family=Tangerine:wght@700&display=swap');

:root {
  --main-black: #000000;
  --main-white: #f0f0f0;
  --main-orange: #e76f51;
  --light-orange: #f4a261;
  --main-green: #2a9d8f;
  --main-gray: #dad7cd;
  --main-yellow: #e9c46a;

  --gray: #dad7cd;
  --green-100: #344e41;
  --green-80: #3a5a40;
  --green-60: #588157;
  --green-low: #a3b18a;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
  cursor: pointer;
}

.sidebar,
.main-body {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Starter Log in */

.login {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: opacity 0.3s ease-in;
}
.login-container {
  border: 5px solid var(--gray);
  padding: 100px;
  border-radius: 10px;
}
.login-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login-container input,
.login-container input:focus {
  width: 100%;
  font-size: 16px;
  padding: 10px 0px 10px 8px;
  margin: 5px 0 0 0;
  border: 3px solid var(--gray);
  outline: none;
  background: var(--green-60);
  font-weight: 600;
}
.login-btn {
  width: 80px;
  height: 40px;
  background: var(--main-yellow);
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

/* SIDEBAR */

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--green-100);
  z-index: 2000;
  font-family: var(--lato);
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar.hide .side-menu {
  padding-left: 10px;
}
#sidebar.hide .side-menu-text {
  display: none;
}
#sidebar.hide .brand {
  background: var(--dark);
}

/* #sidebar .side-menu {
  width: 100%;
  margin-top: 45px;
}
#sidebar .side-menu li {
  height: 40px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
#sidebar .side-menu li.active {
  background: var(--light);
  position: relative;
}
#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--light);
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--light);
  z-index: -1;
}
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
  color: var(--blue);
}
#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
#sidebar .side-menu li a.logout {
  color: var(--red);
}
#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}
#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
} */

#logo {
  width: 45px;
  height: 45px;
  padding-left: 10px;
}

#sidebar .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
  gap: 5px;
}
.brand a {
  color: var(--gray);
  font-size: 2rem;
  font-weight: bold;
}

.brand_name.hide {
  display: none;
}

.sidebar .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar .profile.hide {
  display: none;
}
.sidebar .profile .profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.sidebar .profile a,
h1 {
  color: var(--gray);
}

.side-menu {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-menu li {
  /* background: #f6ae2d; */
  /* background: var(--main-yellow); */
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  /* border-bottom: 2px solid var(--green-100); */
}

.side-menu li:first-child {
  margin-top: 50px;
}

.side-menu li a {
  color: var(--main-yellow);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-menu li a i {
  color: var(--gray);
  font-size: 25px;
}

#main_body {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
}
#sidebar.hide ~ #main_body {
  width: calc(100% - 60px);
  left: 60px;
}

/* SIDEBAR */

/* NAVBAR */
#navbar {
  height: 70px;
  width: 100%;
  background: var(--green-80);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar .form-input {
  display: flex;
  max-width: 400px;
  width: 100%;
  align-items: center;
  height: 36px;
  margin-left: 20px;
}
.navbar .form-input .toggler {
  cursor: pointer;
  margin-left: auto;
  font-size: 34px;
  margin-left: 5px;
  color: var(--gray);
}

#navbar .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: 3px solid var(--gray);
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
  margin-left: 30px;
}
#navbar .form-input .search-btn {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
#navbar .form-input-login {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}
#navbar .form-input-login .login-btn {
  border-radius: 0;
  cursor: pointer;
  width: 60px;
  padding: 10px 0;
  border: none;
  color: inherit;
  transition: all 0.3s;
}
#navbar .form-input-login input {
  padding: 10px 5px;
  width: 120px;
  border: none;
  background: var(--grey);
  outline: none;
  color: var(--dark);
}

.form-input-logout {
  background: red;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.logout-btn {
  width: 80px;
  height: 40px;
  background: #39b385;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

/* NAVBAR */

#dashboard_content {
  background: #a1cca5;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
}

.intro-section {
  height: 80px;
  display: flex;
  align-items: center;
}

/* STATISTIC   */

.statistic-section {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.current-balance {
  background: var(--green-60);
  width: 300px;
  height: 150px;
  margin-right: auto;
  flex: 0 0 49%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.current-balance .box {
  color: #eee;
  width: 50%;
  height: 150px;
  background: var(--green-100);
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-balance .c-blanace-unit {
  font-size: 3rem;
  font-weight: bold;
  color: #bcb3b3;
}
.other-statistics {
  flex: 0 0 49%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background: #183a37;
}

.other-statistics .box {
  flex: 0 0 30%;
  height: 100px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* STATISTIC   */

.bottom_section {
  display: flex;
  flex-wrap: wrap;
}

/* MOVEMENTS */
.movements {
  overflow: scroll;
  overflow-x: hidden;
  flex: 0 0 50%;
  height: 400px;
}

.movements__row {
  /* padding: 2.25rem 4rem; */
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  z-index: 9;
  overflow: hidden;
}

.movements__type {
  background-color: #39b385;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 900;
  /* color: var(--gray); */
  color: #4d194d;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.movements-value {
  color: var(--gray);
  font-size: 20px;
  margin-left: auto;
  background: var(--green-100);
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movements__div {
  position: absolute;
  height: 20px;
  width: 100px;
  background: #312244;
  z-index: 10;
  transform: rotate(130deg);
  top: 15px;
  left: -60px;
}

.movements__date {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  /* background-image: linear-gradient(to top left, #39b385, #9be15d); */
  background: #607744;
}

.movements__type--withdrawal {
  /* background-image: linear-gradient(to top left, #e52a5a, #ff585f); */
  background: #b39c4d;
}

#movements::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #f5f5f5;
}

#movements::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#movements::-webkit-scrollbar-thumb {
  background-color: #183a37;
}

/* TRANSFAR OPTIONS */

.transfar_options {
  text-align: center;
  height: 380px;
  flex: 0 0 50%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.transfar_options form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.transfar_options input,
.transfar_options input:focus {
  width: 40%;
  font-size: 16px;
  padding: 10px 0px 10px 8px;
  margin: 5px 0 0 0;
  border: 3px solid #4d194d;
  outline: none;
  border-radius: 5px;
  background: #e0ddcf;
}
.transfar-op-one {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  background: #f1a208;
  border-top-left-radius: 10px;
}

.transfar-op-two {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  background: #2d6a4f;
  border-top-right-radius: 10px;
}

.transfar-op-one button {
  width: 80px;
  height: 40px;
  background: var(--main-yellow);
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.transfar-op-two button {
  width: 80px;
  height: 40px;
  background: var(--main-yellow);
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

/* TRANSFAR OPTIONS */

/* Media Queries */

@media (max-width: 640px) {
  #sidebar {
    display: none;
  }
  #sidebar.hide ~ #main_body {
    width: 100%;
    left: 0;
  }
  .login {
    width: 90%;
  }
}

@media (max-width: 992px) {
  #navbar .form-input input {
    display: none;
  }
  #navbar .form-input .search-btn {
    display: none;
  }
}

@media (max-width: 1040px) {
  .statistic-section {
    gap: 20px;
  }
  .other-statistics {
    flex: 0 0 100%;
  }
  .current-balance {
    flex: 0 0 100%;
  }
  .other-statistics .box {
    flex: 0 0 80%;
  }
  .other-statistics {
    justify-content: center;
  }
  .movements {
    flex: 0 0 100%;
  }
  .transfar_options {
    flex: 0 0 100%;
    flex-direction: column;
  }
  .transfar-op-one {
    padding-bottom: 30px;
  }
  .transfar-op-two {
    padding-bottom: 30px;
  }
  .bottom_section {
    margin-top: 300px;
  }
}
